/* Variables */
:root{
  --basic-white: #ffffff;
  --basic-black: #323232;
  --black-lighter: #5A5A5A;
  --light-pink: #FBDED7;
  --background-green:  #849D8F;
  --basic-cream: #F8F7F4;
  --basic-transparent: rgba(255, 255, 255, 0.2);
}


/* Global */

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--background-green);

  background-image: url("../img/slider-image1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  /* max-width: 1146px; */
  width: 1200px;
  margin: 0 auto;
}

.main-header-wrapper {
  padding: 0 27px;
}

/* Header */

.main-wrapper {
  padding: 0 27px;
}

.main-header {
  padding-top: 9px;
}

.navigation {
  display: flex;
}

.navigation-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 24px;
}

.site-navigation {
  list-style: none;
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.site-navigation__item {
  margin-right: 32px;
  margin-top: 15px;
  position: relative;
}

.site-navigation__link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-white);

  text-decoration: none;
  border-bottom: 1px solid var(--basic-transparent);
}

.site-navigation__sub-menu {
  list-style: none;
  padding: 0;
  position: absolute;
  width: 143px;
  background-color: var(--basic-white);
  border-radius: 4px;
  display: none;
}

.site-navigation__item:hover .site-navigation__sub-menu {
  display: block;
}

.site-navigation__sub-menu-link {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--basic-black);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding: 5px 0px 5px 21px;
}

.site-navigation__sub-menu-item:first-child .site-navigation__sub-menu-link {
  border-radius: 4px;
}

.site-navigation__sub-menu-item:last-child .site-navigation__sub-menu-link {
  border-radius: 4px;
}

.site-navigation__sub-menu-link:hover {
  background-color: var(--light-pink);
}

.site-navigation__sub-menu-item:first-child {
  border-bottom: 1px solid black;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-contacts__text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.header-contacts__phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: var(--basic-white);
}

.user-navigation {
  list-style: none;
  display: flex;
  padding: 0;
}

.site-navigation__link:hover {
  border-radius: 27px;
  background-color: var(--basic-white);
  color: var(--basic-black);
  padding: 9px 13px 11px;
}

.user-navigation__item {
  margin-left: 8px;
}

.user-navigation__button {
  position: relative;
  padding: 8px 16px;
  background-color: var(--basic-transparent);
  border: none;
  border-radius: 20px;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.search-button::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 19px;
  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  left: 8px;
  top: 8px;
}

.cart-button, .login-button {
  padding-left: 40px;
}

.login-button::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 19px;
  background-image: url("../img/login-icon.svg");
  background-repeat: no-repeat;
  left: 12px;
}

.cart-button::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 20px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  left: 12px;
}

/* Slider */

.slider {
  position: relative;
  text-align: center;
}

.slider__control {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  display: flex;
  width: 67px;
  justify-content: space-between;
}

.main-wrapper__slider {
  padding-top: 250px;
  margin-bottom: 40px;
}

.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider__title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider__button {
  display: inline-block;
}

.slider__control-button {
  padding: 0;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

/* Main */

.main-wrapper__index-column {
  margin-bottom: 40px;
}

.promo {
  display: flex;
  flex-direction: column;
}

.promo__title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;

  margin: 0;
  margin-bottom: 16px;
}

.promo__text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;

  margin: 0;
  margin-bottom: 42px;
}

.promo__button {
  text-decoration: none;
  align-self: flex-end;
}

.promo {
  width: 560px;
  box-sizing: border-box;
  padding: 16px 22px 22px 16px;
  border-radius: 16px;
}

.promo--raspberry-bg {
  background-image: url("../img/raspberry-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.promo--chocolate-bg {
  background-image: url("../img/chocolate-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


/* Hits */

.main-wrapper__hits {
  margin-bottom: 40px;
}

.hits__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.hits__item {
  width: 267px;
  margin-right: 26px;
  position: relative;
  text-align: center;
}

.hits__item:nth-child(4n+4) {
  margin-right: 0px;
}

.hits__image {
  border-radius: 50%;
}

.hits__item::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background-color: var(--basic-white);
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  top:0;
  left: 0;
}

.hits__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: none;
  color: var(--basic-white);
  border-bottom: 1px solid var(--basic-transparent);
}

.hits__price {
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  position: absolute;
  top: 210px;
  left:0;
  margin: 0;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.hits__price-bold {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

/* Advantages */

.main-wrapper__advantages {
  margin-bottom: 40px;
}

.advantages {
  background-image: url("../img/advantages-bg.jpg");
  box-sizing: border-box;
  border-radius: 16px;
  padding: 20px;
}

.advantages__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.advantages__item {
  width: 540px;
  margin-bottom: 22px;
  padding-left: 55px;
  padding-right: 5px;
  box-sizing: border-box;
  position: relative;
}

.advantages__item:nth-last-child(-n+2) {
  margin-bottom: 9px;
}


.advantages__item::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #323232;
  border-radius: 50%;
  top: -10px;
  left: 0px;
}

.advantages__item--ice-cream::before {
  background-image: url("../img/ice-cream-icon.svg");
}

.advantages__item--cow::before {
  background-image: url("../img/cow-icon.svg");
}

.advantages__item--leaf::before {
  background-image: url("../img/leaf-icon.svg");
}
.advantages__item--thermometer::before {
  background-image: url("../img/thermometer-icon.svg");
}

.advantages__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 21px;
}

.advantage__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-black);
  margin: 0;
}

/* Blog */

.blog {
  display: flex;
  flex-direction: column;
}

.blog__title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-black);
}

.blog__text {
  width: 287px;
}

.blog__link {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);

  background-image: linear-gradient(to bottom, black 33%, transparent 33%);
  background-position: 0 1.03em;
  background-repeat: repeat-x;
  background-size: 2px 6px;
}

/* Subscription */

.subscription {
  width: 550px;
  min-height: 220px;
  box-sizing: border-box;
  border-radius: 16px;
  background: url("../img/subscription-bg.png");
  padding: 5px;
}

.subscription-wrapper {
  background-color: #F8F7F4;
  border-radius: 16px;
  height: 100%;
  box-sizing: border-box;
}


.subscription__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--black-lighter);
  padding: 29px 16px 47px 20px;
}

/* Contacts */

.contacts {
  position: relative;
}

.contacts__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: var(--basic-black);
}

.contacts__phone {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  display: block;
  text-decoration: none;
  color: var(--basic-black);
}

.contacts__adsress {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts__button {
  text-decoration: none;
}

/* Footer */
/* Social */

.footer-wrapper {
  padding: 0 27px;
  display: flex;
  flex-wrap: wrap;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 267px;
}

/* Info */

.footer-info {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: center;
  list-style: none;
  margin: 0;
  padding: 0 105px;
  width: 560px;
}

.footer-info__item {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  width: 162px;
}

.footer-info__link {
  color: var(--basic-white);
  text-decoration: none;
  border-bottom: 1px solid var(--basic-transparent);
}

/* Copyright */

.copyright {
  width: 267px;
}

.copyright__text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.copyright__link {
  text-decoration-color: var(--basic-transparent);
  color: var(--basic-white);
  /* border-bottom: 1px solid var(--basic-transparent); */
}

/* Catalog */
/* Breadcrumbs */

.breadcrumbs {
  list-style: none;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--basic-transparent);
}

.main-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

/* Filter */

.filter-block {
  border: none;
}

.filter-block__title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.filter-block__list {
  list-style: none;
}

/* ------ */

.index-column {
  display: flex;
  justify-content: space-between;
}

.blog {
  width: 560px;
}

.subscription {
  width: 560px;
}

.main-footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__info {
  position: absolute;
  width: 303px;
  background-color: var(--basic-white);
  padding: 32px 25px;
  border-radius: 16px;
  box-sizing: border-box;
  top: 62px;
  right: 27px;
}

.contacts__text {
  margin: 0;
  margin-bottom: 30px;
}

.button {
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-white);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  padding: 13px 28px;
}

.slider__button {
  text-decoration: none;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

.header-contacts__text {
  margin-bottom: 8px;
}



.blog {
  width: 550px;
  min-height: 220px;
  background-image: url("../img/blog-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.subscription__text {
  margin: 0;
}


/* Modal */

.modal {
  background-color: var(--basic-cream);
  border-radius: 4px;
  box-sizing: border-box;
}

.modal-login {
  width: 277px;
  padding: 20px 17px 22px 19px;
}

.modal-search {
  width: 341px;
  padding: 20px 15px;
}

.modal-login__input {
  margin: 0;
  margin-bottom: 20px;
}

.modal-login__login,
.modal-login__password {
  box-sizing: border-box;
  width: 241px;
  padding: 15px;
}

.modal-search__search {
  box-sizing: border-box;
  width: 311px;
  padding: 15px;
}

.modal-login__wrapper {
  display: flex;
  justify-content: space-between;
}

.modal-login__inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modal-login__link {
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  color: var(--basic-black)
}
