/* Variables */
:root{
  --basic-white: #ffffff;
  --basic-black: #323232;
  --black-lighter: #5A5A5A;
  --light-pink: #FBDED7;
  --background-green:  #849D8F;
  --background-blue: #8996A6;
  --background-brown: #9D8B84;
  --basic-cream: #F8F7F4;
  --basic-transparent: rgba(255, 255, 255, 0.2);
  --transparent-special: rgba(255, 255, 255, 0.8);
}


/* Global */

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--background-green);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-header-wrapper {
  padding: 0 27px;
}

.main-body {
  background-repeat: no-repeat;
  background-position: top center;
}

.site-slide-1 {
  background-color: var(--background-green);
  background-image: url("../img/slider-image1.png");
}

.site-slide-2 {
  background-color: var(--background-blue);
  background-image: url("../img/slider-image2.png");
}

.site-slide-3 {
  background-color: var(--background-brown);
  background-image: url("../img/slider-image3.png");
}

/* Button global */

.button {
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-white);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  padding: 13px 20px;
}

.button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

.button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

.slider__button {
  text-decoration: none;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0.05em;
  padding: 9px 23px;
  margin-left: -10px;
}

/* Header */

.main-wrapper {
  padding: 0 27px;
}

.main-header {
  padding-top: 9px;
}

.navigation {
  display: flex;
}

.logo {
  flex-shrink: 0;
}

.navigation-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 15px;
}

.site-navigation {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: flex-start;
}

.navigation-wrapper__site-navigation {
  margin-top: 14px;
}

.site-navigation__item {
  position: relative;
  padding: 5px 13px 5px 13px;
  margin-right: 5px;
}

.site-navigation__item:hover {
  border-radius: 27px;
  background-color: var(--basic-white);
  color: var(--basic-black);
  padding: 5px 13px 5px 13px;
}

.site-navigation__link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-white);

  text-decoration: none;
  border-bottom: 1px solid var(--basic-transparent);
}

.site-navigation__item:hover .site-navigation__link {
  color: var(--basic-black);
}

.site-navigation__item--current {
  background-color: #D07058;
  border-radius: 27px;
}

.site-navigation__item--current .site-navigation__link {
  border: none;
}

.site-navigation__sub-menu-item:first-child .site-navigation__sub-menu-link {
  font-weight: 700;
}

.site-navigation__sub-menu-item{
  display: flex;
  flex-direction: column;
}

.site-navigation__sub-menu-item:first-child::after{
  content: "";
  flex-grow: 1;
  flex-shrink: 0;
  height: 1px;
  margin: 0 9px;
  background-color: rgba(50, 50, 50, 0.2);
}

.site-navigation__sub-menu-item--current {
  background-color: #D07058;
}

.site-navigation__item:hover .site-navigation__sub-menu {
  display: block;
}

.site-navigation__sub-menu {
  list-style: none;
  padding: 0;
  top: 35px;
  left: -8px;
  position: absolute;
  background-color: var(--basic-white);
  border-radius: 4px;
  display: none;
  z-index: 10;
  min-width: 143px;
}

.site-navigation__sub-menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: transparent;
  top: -5px;
}

.site-navigation__sub-menu-link {
  text-decoration: none;
  color: var(--basic-black);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  display: block;
  box-sizing: border-box;
  padding: 10px;
  padding-left: 21px;
}

.site-navigation__sub-menu-item:first-child {
  border-radius: 4px 4px 0 0;
}

.site-navigation__sub-menu-item:last-child {
  border-radius: 0 0 4px 4px;
}

.site-navigation__sub-menu-item:hover {
  background-color: var(--light-pink);
}

.site-navigation__sub-menu-item:active {
  background-color: #F6B5A5;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  margin-top: -5px;
}

.header-contacts__text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.header-contacts__phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: var(--basic-white);
}

.user-navigation {
  list-style: none;
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  margin-top: 13px;
}

.user-navigation__item {
  margin-left: 10px;
  position: relative;
}

.user-navigation__item-login:hover .modal-login{
  display: block;
  z-index: 10;
}

.user-navigation__item-search:hover .modal-search {
  display: block;
  z-index: 10;
}

.user-navigation__button {
  /* position: relative;
  background-color: var(--basic-transparent);
  border: none;
  border-radius: 20px;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  height: 32px; */
  height: 32px;
  display: block;
  background-color: var(--basic-transparent);
  border-radius: 20px;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  box-sizing: border-box;
}

.search-button {
  width: 32px;
  background-image: url("../img/search-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.user-navigation__item-search:hover  .search-button {
  background-color: var(--basic-white);
  background-image: url("../img/search-icon-hover.svg");
}

.login-button {
  width: auto;
  padding: 9px 16px 8px 44px;
  background-image: url("../img/login-icon.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
}

.user-navigation__item-login:hover .login-button {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: url("../img/login-icon-hover.svg");
}

.cart-button {
  width: auto;
  padding: 9px 16px 8px 44px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
}

.user-navigation__item-cart--filled:hover .modal-cart {
  display: block;
}

.user-navigation__item-cart--filled .cart-button {
  background-color: var(--basic-white);
  background-image: url("../img/cart-icon-hover.svg");
  color: var(--basic-black);
}

/* .search-button::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 19px;
  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  left: 8px;
  top: 8px;
}

.cart-button, .login-button {
  padding-left: 40px;
}

.login-button::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 19px;
  background-image: url("../img/login-icon.svg");
  background-repeat: no-repeat;
  left: 12px;
}

.cart-button::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 20px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  left: 12px;
} */

/* Slider */

.slider {
  position: relative;
  text-align: center;
}

.slider__control {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 10;
  display: flex;
  width: 80px;
  justify-content: space-between;
}

.main-wrapper__slider {
  padding-top: 275px;
  margin-bottom: 40px;
}

.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider__title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider__control-button {
  padding: 0;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.slider__control-button:hover {
  background-color: var(--basic-transparent);
}

.slider__control-button:active {
  background-color: var(--basic-white);
}

.slider__control-button--current {
  background-color: var(--basic-white);
}

/* Main */

.main-wrapper__index-column {
  margin-bottom: 40px;
}

.promo {
  display: flex;
  flex-direction: column;
}

.promo__title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;

  margin: 0;
  margin-bottom: 16px;
}

.promo__text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;

  margin: 0;
  margin-bottom: 42px;
}

.promo__button {
  text-decoration: none;
  align-self: flex-end;
}

.promo {
  width: 560px;
  box-sizing: border-box;
  padding: 16px 22px 22px 16px;
  border-radius: 16px;
}

.promo--raspberry-bg {
  background-image: url("../img/raspberry-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.promo--chocolate-bg {
  background-image: url("../img/chocolate-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Hits */

.main-wrapper__hits {
  margin-bottom: 40px;
}

.hits__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.hits__item {
  width: 267px;
  margin-right: 26px;
  position: relative;
  text-align: center;
  z-index: 100;
}

.hits__button-wrapper {
  text-align: center;
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  bottom: -45px;
}

.hits__item:hover  .hits__button-wrapper{
  display: block;
}

.hits__button {
  cursor: pointer;
}

.hits__item:hover::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 293px;
  height: 402px;
  background-color: var(--basic-transparent);
  top: -6px;
  left: -13px;
}

.hits__item:nth-child(4n+4) {
  margin-right: 0px;
}

.hits__image {
  border-radius: 50%;
}

.hits__item::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background-color: var(--basic-white);
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  top:0;
  left: 0;
}

.hits__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: none;
  color: var(--basic-white);
  border-bottom: 1px solid var(--basic-transparent);
}

.hits__price {
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  position: absolute;
  top: 210px;
  left:0;
  margin: 0;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.hits__price-bold {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

/* Advantages */

.main-wrapper__advantages {
  margin-bottom: 40px;
}

.advantages {
  background-image: url("../img/advantages-bg.jpg");
  box-sizing: border-box;
  border-radius: 16px;
  padding: 20px;
}

.advantages__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.advantages__item {
  width: 540px;
  margin-bottom: 22px;
  padding-left: 55px;
  padding-right: 5px;
  box-sizing: border-box;
  position: relative;
}

.advantages__item:nth-last-child(-n+2) {
  margin-bottom: 9px;
}

.advantages__item::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #323232;
  border-radius: 50%;
  top: -10px;
  left: 0px;
}

.advantages__item--ice-cream::before {
  background-image: url("../img/ice-cream-icon.svg");
}

.advantages__item--cow::before {
  background-image: url("../img/cow-icon.svg");
}

.advantages__item--leaf::before {
  background-image: url("../img/leaf-icon.svg");
}
.advantages__item--thermometer::before {
  background-image: url("../img/thermometer-icon.svg");
}

.advantages__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 21px;
}

.advantage__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-black);
  margin: 0;
}

/* Blog */

.blog {
  display: flex;
  flex-direction: column;
  padding: 23px 20px;
  box-sizing: border-box;
}

.blog__title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 3px;
}

.blog__text {
  width: 287px;
  margin: 0;
}

.blog__link {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);

  background-image: linear-gradient(to bottom, black 33%, transparent 33%);
  background-position: 0 1.03em;
  background-repeat: repeat-x;
  background-size: 2px 6px;
}

/* Subscription */

.subscription {
  width: 560px;
  min-height: 220px;
  box-sizing: border-box;
  border-radius: 16px;
  background-image: url("../img/subscription-bg.png");
  background-size: cover;
}

.subscription-wrapper {
  background-color: #F8F7F4;
  background-clip: content-box;
  border-radius: 16px;
  min-height: inherit;
  box-sizing: border-box;
  border: 5px solid transparent;
}

.subscription-inner-wrapper {
  padding: 25px 20px 0;
}

.subscription__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--black-lighter);
  margin: 0;
  margin-bottom: 38px;

}

.subscription__input {
  display: flex;
  flex-wrap: wrpa;
  justify-content: space-between;
  margin: 0;
}

.subscription__email {
  box-sizing: border-box;
  width: 368px;
  height: 44px;
  border: 1px solid #D3D3D2;
  border-radius: 4px;
  padding: 0 14px;
  font-weight: 700;
}

.subscription__email::placeholder {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.subscription__email:hover {
  border: 2px solid rgba(178, 178, 178, 0.52);
  padding: 0 13px;
}

.subscription__email:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  padding: 0 13px;
  outline: none;
}

.subscription__button {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Contacts */

.contacts {
  position: relative;
}

.contacts__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 20px;
}

.contacts__text:last-of-type {
  margin-bottom: 28px;
}

.contacts__phone {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  display: block;
  text-decoration: none;
  color: var(--basic-black);
}

.contacts__adsress {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts__button {
  text-decoration: none;
  text-align: center;

  padding: 10px 20px;
}

/* Footer */
/* Social */

.footer-wrapper {
  padding: 0 27px;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
}

.footer-wrapper__social-list {
  margin-top: 26px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.social-list__item {
  margin-right: 8px;
}

.social-list__link svg {
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.social-list__link:hover path {
  fill-opacity: 1;
}

.social-list__link:active path {
  fill-opacity: 1;
}

/* Info */

.footer-wrapper__footer-info {
  margin-top: 26px;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  box-sizing: border-box;
  list-style: none;
  padding: 0 118px;
}

.footer-info__item {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  min-width: 143px;
  margin-bottom: 6px;
}

.footer-info__link {
  color: var(--basic-white);
  text-decoration: none;
  border-bottom: 1px solid var(--basic-transparent);
}

/* Copyright */

.copyright {
  justify-self: end;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.copyright__text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
}

.copyright__link {
  text-decoration-color: var(--basic-transparent);
  color: var(--basic-white);
  /* border-bottom: 1px solid var(--basic-transparent); */
}

/* Catalog */
/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: -25px;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 22px;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__item::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -16px;
  width: 8px;
  height: 8px;
  background-image: url("../img/breadcrambs-icon.svg");
  background-repeat: no-repeat;
}

.breadcrumbs__item--current::after {
  display: none;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--basic-transparent);
}

.breadcrumbs__link--current {
  cursor: pointer;
}

.main-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 25px;
}

/* Filter */

.filter-wrapper {
  margin-bottom: 40px;

}

.filter-inner-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  min-height: 130px;
}

.filter-block {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 15px;
}

.filter-block__title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 6px;
  margin-left: 15px;
}

.filter-block__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-block__sort-menu {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background: none;
  border: none;
  min-height: 36px;
  padding: 9px 32px 9px 16px;
  color: var(--basic-white);
  background-color: var(--basic-transparent);
  background-image: url("../img/arrow-bottom-icon.svg");
  background-position: right 14px center;
  background-repeat: no-repeat;
  border-radius: 20px;
  appearance: none;
}

.filter-block__sort-menu:hover {
  color: var(--basic-black);
  background-image: url("../img/arrow-bottom-icon-hover.svg");
}

.slider-range {
  width: 218px;
  min-height: 36px;
  padding: 0 21px;
  box-sizing: border-box;
  border-radius: 18px;
  background-color: var(--basic-transparent);
  display: flex;
}

.slider-control {
  position: relative;
  width: 100%;
  align-self: center;
}

.scale {
  height: 2px;
  background-color: var(--basic-transparent);
}

.bar {
  width: 60%;
  height: 2px;
  background-color: var(--basic-white);
  margin-left: 15px;
}

.toggle {
  position: absolute;
  padding: 1.6px;
  border: 8px solid var(--basic-white);
  background-color: #ABABAB;;
  border-radius: 50%;
  top: -9px;
  -webkit-box-shadow: 0 2px 0 var(--basic-toggle-shadow);
          box-shadow: 0 2px 0 var(--basic-toggle-shadow);
}

.toggle:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.toggle-min {
  left : 15px;
}

.toggle-max {
  left: 110px;
}

.sort-menu__option {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-transparent);
}

.filter-block__fat {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--basic-transparent);
  border-radius: 20px;
  min-height: 36px;
  padding-right: 20px;
}

.filter-block__item {
  padding-left: 45px;
  margin-right: 9px;
}

.filter-block__item:last-child {
  margin-right: 0;
}

.fat__radio {
  position: relative;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.fat__input + .fat__radio::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 0px;
  width: 22px;
  height: 22px;
  border: 3px solid var(--transparent-special);
  border-radius: 50%;
  box-sizing: border-box;
}

.fat__input:checked + .fat__radio::after {
  content: "";
  position: absolute;
  left: -23px;
  top: 7px;
  width: 8px;
  height: 8px;
  background-color: var(--transparent-special);
  border-radius: 50%;
}

.fat__input:hover + .fat__radio::before {
  border: 3px solid var(--basic-white);
}

.fat__input:checked:hover + .fat__radio::after {
  background-color: var(--basic-white);
}

.fillers {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 17px;
  list-style: none;
  min-height: 36px;
  border-radius: 18px;
  background-color: var(--basic-transparent);
}

.fillers-block__item {
  margin-right: 23px;
}

.fillers-block__item:last-child {
  margin-right: 0;
}

.fillers__checkbox {
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-left: 30px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.fillers__input + .fillers__checkbox::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 20px;
  background-image: url("../img/checkbox-icon.svg");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

.fillers__input:checked + .fillers__checkbox::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 20px;
  background-image: url("../img/checkbox-on-icon.svg");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

.fillers__input:checked:hover + .fillers__checkbox::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 20px;
  background-image: url("../img/checkbox-on-icon-hover.svg");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

.fillers__input:hover + .fillers__checkbox::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 20px;
  background-image: url("../img/checkbox-icon-hover.svg");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

.fillers__input:disabled + .fillers__checkbox::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 20px;
  background-image: url("../img/checkbox-icon-disabled.svg");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

.filter__button {
  background: none;
  padding: 8px 29px;
  min-height: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-transparent);
  border: 2px solid var(--basic-white);
  border-radius: 18px;
  align-self: flex-end;
}

.filter__button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.filter__button:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: inset 0px 2px 2px var(--basic-black);
  border: none;
  padding: 10px 31px;
}

/* ------ */

.index-column {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__info {
  position: absolute;
  width: 303px;
  background-color: var(--basic-white);
  padding: 32px 25px;
  border-radius: 16px;
  box-sizing: border-box;
  top: 62px;
  right: 27px;
  display: flex;
  flex-direction: column;
}

.header-contacts__text {
  margin-bottom: 8px;
}

.blog {
  width: 560px;
  min-height: 220px;
  background-image: url("../img/blog-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

/* Modal */

.modal {
  background-color: var(--basic-cream);
  border-radius: 4px;
  box-sizing: border-box;
  position: absolute;
}

.modal-login {
  display: none;
  width: 277px;
  padding: 20px 17px 22px 19px;
  right: 0;
  top: 35px;
}

.modal-search {
  display: none;
  width: 341px;
  padding: 20px 15px;
  right: 0;
  top: 35px;
}

.modal-feedback {
  width: 477px;
  padding: 20px 23px;
  display: none;
  position: fixed;
  top: 120px;
  bottom: auto;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 200;

}

.modal-feedback__title {
  color: var(--basic-black);
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.modal-login__input {
  margin: 0;
  margin-bottom: 20px;
}

.modal-login__login,
.modal-login__password {
  box-sizing: border-box;
  width: 241px;
  height: 44px;
  padding: 0 14px;
  border-radius: 4px;
  border: 1px solid #D3D3D2;
  font-weight: 700;
}

.modal-feedback__textarea {
  box-sizing: border-box;
  width: 428px;
  height: 154px;
  padding: 16px 14px;
  resize: none;
  border: 1px solid #D3D3D2;
  border-radius: 4px;
  font-weight: 700;
}

.modal-feedback__textarea:hover {
  border: 2px solid rgba(178, 178, 178, 0.52);
  padding: 15px 13px;
}

.modal-feedback__textarea:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  outline: none;
  padding: 15px 13px;
}

.modal-login__login::placeholder,
.modal-login__password::placeholder,
.modal-search__search::placeholder,
.modal-feedback__name::placeholder,
.modal-feedback__email::placeholder,
.modal-feedback__textarea::placeholder {
  font-weight: 400;
}

.modal-login__login:hover,
.modal-login__password:hover,
.modal-search__search:hover,
.modal-feedback__name:hover,
.modal-feedback__email:hover {
  border: 2px solid rgba(178, 178, 178, 0.52);
  padding: 0 13px;
}

.modal-login__login:focus,
.modal-login__password:focus,
.modal-search__search:focus,
.modal-feedback__name:focus,
.modal-feedback__email:focus {
  outline: none;
  border: 2px solid rgba(46, 136, 228, 0.52);
  padding: 0 13px;
}

.modal-search__search {
  box-sizing: border-box;
  width: 311px;
  height: 44px;
  padding: 16px 14px;
  border-radius: 4px;
  border: 1px solid #D3D3D2;
  font-weight: 700;
}

.modal-login__wrapper {
  display: flex;
  justify-content: space-between;
}

.modal-login__inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modal-login__link {
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  color: var(--basic-black)
}

.modal-feedback__name,
.modal-feedback__email {
  box-sizing: border-box;
  width: 267px;
  height: 44px;
  padding: 0 14px;
  outline: none;
  border: 1px solid #D3D3D2;
  border-radius: 4px;
  font-weight: 700;
}

.modal-feedback__button-wrapper {
  text-align: end;
}

.modal-feedback__close-button {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  right: 16px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-feedback__close-button::before,
.modal-feedback__close-button::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -1px;
  width: 23px;
  height: 2px;
  background-color: var(--basic-black);
}

.modal-feedback__close-button::before {
  transform: rotate(45deg);
}

.modal-feedback__close-button::after {
  transform: rotate(-45deg);
}

/* Modal Modal-caart */

.modal-cart {
  padding: 14px;
  color: var(--basic-black);
  display: none;
  top: 35px;
  right: 0;
  z-index: 100;
}

.modal-cart__table {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  width: 510px;
  border-spacing: 0 20px;
  border-collapse: collapse;
}

.modal-cart__table-row td{
  padding-bottom: 20px;
}

.modal-cart__total{
  font-weight: 700;
  padding-top: 10px;
  text-align: right;
  padding-top: 10px;
}

.modal-cart__button {
  float: right;
  padding: 13px 15px;
}

.modal-cart__product {
  width: 247px;
}

.modal-cart__image-thumbnail {
  border-radius: 50%;
}

.modal-cart__delete-button {
  border: none;
  width: 11px;
  height: 11px;
  padding: 0;
  background-color: transparent;
  background-image: url("../img/delete-product-button.svg");
}

.modal-cart__table-row:nth-last-child(2) {
  border-bottom: 1px solid #cacac7;
}

.modal-cart__weight-price {
  color: #ABABAB;
}

.modal-cart::before,
.modal-search::before,
.modal-login::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: transparent;
  top: -5px;
}

.contacts-container {
  position: relative;
}

.contacts__map {
  display: none;
}

.modal-show {
  display: block;
}

.darkBackground {
display: none;

position: fixed;
top: 0;
right: 0;
z-index: 100;

width: 100%;
height: 100%;

background-color: rgba(0, 0, 0, 0.3);
}

.darkBackground--active {
  display: block;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.pagination__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination__item {
  margin-right: 5px;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pagination__link {
  display: block;
  text-decoration: none;
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  width: 26px;
  height: 26px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
  padding-top: 4px;
}

.pagination__button {
  background-color: transparent;
  border: none;
  width: 7px;
  height: 12px;
  background-repeat: no-repeat;
  padding: 0;
  cursor: pointer;
}

.pagination__button-back {
  background-image: url("../img/pagination-button-back-disabled.svg");
  margin-right: 16px;
}

.pagination__button-next {
  background-image: url("../img/pagination-button-next-active.svg");
  margin-left: 16px;
}

.pagination__link--current {
  background-color:var(--basic-white);
  color: var(--basic-black);
}

.pagination__link:hover {
  background-color: var(--basic-transparent);
}

.pagination__link:active {
  background-color:var(--basic-white);
  color: var(--basic-black);
}

/* Catalog */

.main-wrapper__catalog {
  margin-bottom: 40px;
}

.catalog__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.catalog__item {
  width: 267px;
  margin-right: 26px;
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}

.catalog__item:hover {
  z-index: 1;
}

.catalog__button-wrapper {
  text-align: center;
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  bottom: -45px;
  z-index: 1;
}

.catalog__item:hover  .catalog__button-wrapper{
  display: block;
}

.catalog__button {
  cursor: pointer;
}

.catalog__item:hover::after {
  content: "";
  position: absolute;
  width: 293px;
  height: 402px;
  background-color: var(--basic-transparent);
  top: -6px;
  left: -13px;
  border-radius: 4px;
  z-index: -1;
}

.catalog__item:nth-child(4n+4) {
  margin-right: 0px;
}

.catalog__image {
  border-radius: 50%;
}

.catalog__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: none;
  color: var(--basic-white);
  border-bottom: 1px solid var(--basic-transparent);
}

.catalog__price {
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  position: absolute;
  top: 210px;
  left:0;
  margin: 0;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog__price-bold {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}


.hits__text:hover,
.catalog__text:hover,
.footer-info__link:hover {
  color: #FFBC9E;
  border-color: rgba(255, 188, 158, 0.3);
}

.hits__text:active,
.catalog__text:active,
.footer-info__link:active {
  color: #FFBC9E;
  border-color: rgba(255, 188, 158, 0.3);
}

.copyright__link:hover {
  color: #FFBC9E;
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

.copyright__link:active {
  color: #FFBC9E;
  text-decoration-color: rgba(255, 188, 158, 0.3);
}


